/*** Color ***/
/*** gradient degree ***/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: auto;
  width: 100%;
  display: block;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 2%;
}
.header__logo {
  margin: 0;
  text-align: center;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
}

.footer {
  width: auto;
  padding: 22px 25px;
  background-color: #404040;
  color: #ffffff;
}
.footer p {
  margin: 5px 0;
  max-width: fit-content;
}
.footer__logo {
  margin: 0 0 16px 0;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
  max-width: fit-content;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  max-width: fit-content;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 7px;
  max-width: fit-content;
}
.footer__nav--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  font-size: 13px;
}

.explore__button {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin: 13px auto 38px auto;
  transition: opacity 300ms ease-in-out;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  position: relative;
}
.explore__button:hover {
  opacity: 0.88;
}

.location {
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  padding: 15px;
}
.location__icon {
  margin-right: 10px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.location__input {
  display: flex;
  margin-left: 10px;
}
.location__input--text {
  border: none;
  outline: none;
  background: #eaeaea;
  font-weight: 700;
}

.explorer__restaurants {
  background-color: whitesmoke;
  display: block;
  text-align: center;
  padding: 16px;
}
.explorer__restaurants__title {
  width: 70%;
  margin: 10px 0;
  font-size: 26px;
  align-items: center;
  display: flex;
}
.explorer__restaurants h2 {
  font-size: 36px;
}
.explorer__restaurants p {
  margin-left: 17px;
  font-size: 18px;
  align-items: center;
}

.fonctionnement {
  margin: auto;
  padding: 22px 0;
}
.fonctionnement h3 {
  margin-left: 20px;
  display: flex;
  font-size: 28px;
}
.fonctionnement__steps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}
.fonctionnement__steps--step {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 30px;
  border-radius: 20px;
  border: none;
  gap: 4%;
  background-color: #F6F6F6;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
.fonctionnement:hover {
  background-color: #f2eafb;
  box-shadow: 0 4px 10px 0 #bcbcbc;
}
.fonctionnement:hover > .fonctionnement__step__numbert__icon {
  color: #9356DC;
}

.fonctionnement__steps--step__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -13px;
  bottom: 0px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #F6F6F6;
  background-color: #9356DC;
  padding: 5px;
}
.fonctionnement__steps--step__numbersnumbers__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7e7e7e;
}

.fonctionnement__step--step__paragraph {
  font-weight: 700;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.restaurant__bloc {
  width: 90%;
  margin: auto;
}
.restaurant__title {
  padding: 28px;
  margin-bottom: -10px;
  font-size: 25px;
}
.restaurant__cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  padding-bottom: 18px;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
.restaurant__cards--img {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--img--markerinfo {
  padding: 10px 15px;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 17px;
}
.restaurant__cards--img img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
}
.restaurant h4 {
  font-size: 21px;
  margin-top: 47px;
}
.restaurant p {
  font-size: 18px;
}
.restaurant__cards--like {
  position: absolute;
  right: 10px;
  bottom: 25px;
  font-size: 25px;
}
.restaurant__cards--info {
  font-size: 25px;
  margin-top: -29px;
  padding: 0 13px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
